.resume__title {
  font-size: 42px;
  line-height: 66px;
  text-transform: uppercase;
  font-weight: bold;
}

.resume__description {
  font-size: 42px;
  line-height: 50px;
  font-weight: bold;
}

.resume__slogan {
  font-size: 36px;
  line-height: 44px;
}
